@import '../../../../assets/styles/main.scss';

.header__mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(20);


    &-link{
        text-decoration: none;
        color: $main-black;
        cursor: pointer;

        &:hover, &--selected{
            color: $primary-color;
        }
    }
}

@media screen and (min-width: $size-mobile) {
    .header__mainMenu {
        flex-direction: row;
        gap: rem(10);
    }
}