@import '@assets/styles/main';

.expandable {
    margin: rem(10) 0;
  
    &--collapsed {
      display: none;
    }
  
    &__button {
        width: 100%;
    }

    &__content{
        ul{
            padding: rem(20) 0 rem(20) rem(20);
        }
        
        li{
            margin-bottom: rem(10);
            list-style: disc;
            font-size: rem(14);
            line-height: rem(18);
        }
    }
  }
  