@import '@assets/styles/main.scss';

.swiper__container{
    padding: rem(40) 0;
    width: 100%;
    margin: 0 auto;
}

.tool{
    list-style: none;
    
    &__icon{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: rem(80);
        height: rem(80);
        transition: background-image 0.3s ease;
    }
}