@import '@assets/styles/main';



.section__header{
    max-width: rem(600);
    width: 100%;
    margin: 0 auto rem(40);

    &-title{
        font-size: rem(26);
        font-family: $secondary-font;
        text-align: center;
        margin-bottom: rem(20);
        text-transform: uppercase;
        font-weight: 500;
    }
    
    &-text{
        font-weight: 300;
    }

}