@import '@assets/styles/main';

.intro{
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

.intro-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__info-img{
    width: rem(60);
  }

  &__info-text {
    font-family: $code-font;
    text-transform: uppercase;
    font-size: rem(22);
    line-height: rem(26);
  
    &.typing {
      overflow: hidden;
      margin: 0 auto;
  
      @media (min-width: $size-mobile) {
        white-space: nowrap;
        animation: typing 2s steps(30, end), flicker .5s step-end infinite;
        border-right: .15em solid $primary-color;
      }
    }

    strong {
      font-weight: 600;
    }
  }

  // &__illustration{
  //   display: none;

  //   @media (min-width: $size-desktop){
  //     display: flex;
  //     align-items: baseline;
  //     gap: rem(10);
  //   }

    // .lamp-container{
    //   position: relative;
    // }

    // .lamp-illustration{
    //   width: rem(144);
    // }
  
    // .lamp-light {
    //   position: absolute;
    //   top: 21px;
    //   left: -445px;
    //   width: 500px;
    //   height: 182px;
    //   background: linear-gradient(
    //     to bottom,
    //     rgba(255, 255, 120, 0.8) 0%,
    //     rgba(255, 255, 120, 0.4) 60%,
    //     rgba(255, 255, 120, 0.1) 90%  
    //   );
    //   clip-path: polygon(
    //     89% 1%, 
    //     96% 26%, 
    //     74% 100%, 
    //     0px 100%
    //   );
    //   pointer-events: none;
    // }

    // .computer-illustration{
    //   width: rem(260);
    //   position: relative;
    //   right: rem(-70);
    // }

    // .mobile-illustration{
    //   width: rem(65);
    //   position: relative;
    //   right: 0;
    //   bottom: rem(60);
    // }
  // }
}
.professional-profile{
  background-color: $primary-color;

  &__container{
    padding-top: rem(40);
    padding-bottom: rem(40);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(20);

    @media (min-width: $size-tablet){
      flex-direction: row;
      align-items: center;
    }
  }

  &__occupation{
    font-size: rem(30);
    font-family: $secondary-font;
    color: $white;
    text-transform: uppercase;

    @media (min-width: $size-mobile){
      font-size: rem(40);
    }
  }

  .cv-button{
    width: 100%;

    @media (min-width: $size-tablet){
      width: auto;
    }

    &__link{
      width: 100%;
      display: inline-block;
      background: $main-black;
      text-align: center;
      padding: rem(10) 0;

      color: $white;
      text-decoration: none;
      font-weight: 600;
      font-size: rem(20);

      @media (min-width: $size-tablet){
        width: auto;
        padding: rem(10) rem(30);
      }
      
    }

    &__img{
      width: rem(35);
      background-color: $white;

      @media (min-width: $size-tablet){
        background-color: transparent;
      }
    }
  }
}