@import '@assets/styles/main';



.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.popupContent {
  position: relative;
  background: white;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
}

.swiper {
  width: 100%;
  height: calc(80vh - 60px);
}

.imageContainer {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.zoomed {
    .popupImage {
      cursor: zoom-out;
      transform: scale(2);
      transform-origin: center; 
    }
  }
}

.popupImage {
  max-width: 100%;
  max-height: 100%; 
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
  padding: 10px 20px;
  background: white;
}
