@import '@assets/styles/main'; 

.skills{
    .skills-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(20);

        li{
            background-color: $main-black;
            padding: rem(10) rem(20);
            color: $white;
            text-transform: uppercase;
            font-size: rem(14);
        }

    }
}