@import '@assets/styles/main.scss';

.contact-form {
  max-width: $size-desktop;
  margin: 0 auto;
  padding: rem(20);

  &__container{
    margin-bottom: rem(60);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $size-tablet) {
      flex-direction: row;
    }
    
    .contact-form__group{
      @media (min-width: $size-tablet) {
        width: 47%;
      }
    }
  }

  &__group {
    width: 100%;
    margin-bottom: rem(15);
    margin-top: rem(20);
    position: relative;

    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 2px solid #ccc;
      padding: rem(5) 0;
      background-color: transparent;
      outline: none;
    }

    :is(input:focus, input:not(:placeholder-shown), textarea:focus, textarea:not(:placeholder-shown)) ~ .contact-form__label{
      top: rem(-20);
      color: $main-black;
      font-size: rem(12);
    }

    .contact-form__label--required::after {
      content: "*";
      color: #ccc;
      font-size: rem(18);
      margin-left: rem(5);
    }
    
    :is(input:focus, input:not(:placeholder-shown), textarea:focus, textarea:not(:placeholder-shown)) ~ .contact-form__label--required::after {
      color: red;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: $secondary-gray;
    transition: all 0.3s ease;
    pointer-events: none;
    font-weight: 500;
  }

  &__control {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
    background-color: transparent;
    outline: none;
    border-radius: 0;
  }

  &__error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
}


