@import '../../../assets/styles/main.scss';

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(15);
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &_logo_link{
        display: flex;
        align-items: center;
        gap: rem(10);
        text-decoration: none;
    }

    &_logo_text{
        font-size: rem(18);
        font-weight: bold;
        color: $main-black;
        display: none;
    }

    &_button {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    &_nav {
        display: none;
        opacity: 0;
        flex-direction: column;
        transition: opacity 0.3s ease;
        padding: rem(15);
        gap: rem(20);
    }

    &_nav.isActive {
        display: flex;
        opacity: 1;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: $main-gray;
    }
    
    &_mainMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(20);
    }

    &_mainMenu_link{
        text-decoration: none;
        color: $main-black;

        &:hover, &.selected{
            color: $primary-color;
        }
    }

    &_rrssMenu{
        display: flex;
        gap: rem(10);
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transform: translateY(0);
    }

    &:not(.fixed) {
        transform: translateY(-100%); 
    }

    &.scrolled, &.inside{
        background-color: $main-gray;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: 480px) {
    .header {
        &_button {
            display: none;
        }

        &_nav {
            display: flex;
            opacity: 1;
            flex-direction: row; 
            height: auto; 
            gap: rem(20);
            align-items: center;
            padding: 0;
        }

        &_mainMenu {
            flex-direction: row;
            gap: rem(10);
        }
    }
}
