@import '@assets/styles/main.scss';

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(15);
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &__button {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    &__nav {
        display: none;
        opacity: 0;
        flex-direction: column;
        transition: opacity 0.3s ease;
        padding: rem(15);
        gap: rem(20);
    }

    &__nav--active {
        display: flex;
        opacity: 1;
        flex-direction: column;
        position: absolute;
        top: rem(60);
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: $main-gray;
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transform: translateY(0);
    }

    &:not(&--fixed) {
        transform: translateY(-100%); 
    }

    &--scrolled, &--notHome{
        background-color: $main-gray;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: $size-mobile) {
    .header {
        &__button {
            display: none;
        }

        &__nav {
            display: flex;
            opacity: 1;
            flex-direction: row; 
            height: auto; 
            gap: rem(20);
            align-items: center;
            padding: 0;
        }
    }
}
