@import '/src/assets/styles/main.scss';

.contact{
    background-color:$main-gray;
    padding-top: rem(140);

    &__link{
        color: $primary-color;
        font-weight: 400;
        
        &:hover{
            color: $main-black;
        }
    }
    
}