@import '@assets/styles/main';


.header__logo{
    z-index: 11;

    &-link{
        display: flex;
        align-items: center;
        gap: rem(10);
        text-decoration: none;
        cursor: pointer;
    }

    img{
        width: rem(60);
        height: rem(60);
    }

    &-text{
        font-size: rem(18);
        font-weight: bold;
        color: $main-black;
        display: none;
    }
}