@use '@assets/styles/main' as *;



.project-detail{

    &__container{
        padding: rem(60) rem(20);
    }

    &__info{
        max-width: rem(600);
        width: 100%;
        margin: 0 auto rem(40);

        li{
            margin-bottom: rem(10);
        }
    }

    &__button{
        margin-bottom: rem(60);
    }

    &__masonry-grid {
        display: flex;
        margin-left: rem(-15);
        width: auto;
        margin-bottom: rem(40);
        background-color: $secondary-gray;
        padding: rem(10);

        &-column {
            padding-left: rem(15);
            background-clip: padding-box;
        }
    }

    &__content{
        padding: rem(10);
        cursor: zoom-in;
    }

}