@use '@assets/styles/main' as *;



.cookiesPolicy{

    &__container{
        padding: rem(60) rem(20);
    }

    h2 {
        font-size: rem(20);
        text-transform: uppercase;
        margin-bottom: rem(10);
    }

    h3{
        font-size: rem(18);
        margin: rem(20) 0 rem(10);
        font-weight: 500;
    }

    ul{
        margin-left: rem(20);
        padding: rem(10) 0 rem(10) rem(15);
    }

    li{
        margin-bottom: rem(10);
        list-style: disc;
    }

    a{
        color: $primary-color;
        font-weight: 500;

        &:hover{
            color: $main-black;
        }
    }

    &__group{
        margin-bottom: rem(30);
    }
}