@import '@assets/styles/main.scss';



.timeline-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: $main-black;
}

.timeline {
  position: relative;
  padding: rem(40) 0;
  margin: 0;

  &:before {
    content: "";
    position: absolute;
    border-left: 2px dashed $main-gray;
    left: 50%;
    top: 0;
    padding-left: 40px;
    width: 20px;
    height: 100%;
  }
}

/* Elementos del timeline */
.timeline-item {
  position: relative;
  width: 100%; /* Diseño de una columna por defecto */
  padding: 10px 20px;
  box-sizing: border-box;

  view-timeline-name: --item;
  view-timeline-axis: block;
  animation-timeline: --item;
  animation-name: show;
  animation-range: entry 25% cover 50%;

  @media (min-width: $size-tablet){
    width: 50%;
  }

  &.left {
    left: 0;
    text-align: right;
    padding-right: 60px;

    @media (min-width: $size-tablet){
      left: 0; /* Elementos alineados a la izquierda */
      text-align: right;
      padding-right: 60px;
    }

    &:before {
      content: '';
      position: absolute;
      right: 40px;
      top: 35px;
      border: 10px solid transparent;
      border-left-color: $main-gray;
    }

    .circle {
      position: absolute;
      right: -35px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #5DAC6D;
      background: #fff;

      @media (min-width: $size-tablet){
        position: absolute;
        right: -35px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.right {
    left: 0;
    text-align: left;
    padding-left: 60px;

    @media (min-width: $size-tablet){
      left: 50%;
      text-align: left;
      padding-left: 60px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 40px;
      top: 35px;
      border: 10px solid transparent;
      border-right-color: $main-gray;
    }

    .circle {
      position: absolute;
      left: -30px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #5DAC6D;
      background: #fff;

      @media (min-width: $size-tablet){
        position: absolute;
        left: -30px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* Contenido dentro de cada elemento del timeline */
.content {
  background: $main-gray;
  border: 1px solid $main-gray;
  padding: rem(20);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
  width: rem(300);

  h2 {
    margin-top: 0;
    font-size: rem(26);
    line-height: rem(28);
    // font-family: $secondary-font;
    color: $main-black;
    margin-bottom: rem(10);
    font-weight: 300;

    strong{
      font-weight: 400;
    }
  }

  h3 {
    margin: 5px 0;
    font-size: rem(16);
    background: $main-black;
    display: inline-block;
    color: white;
    padding: 10px 20px;
  }

  .text{
    ul{
      padding: rem(20) 0 rem(20) rem(20);

      li{
        margin-bottom: rem(10);
        list-style: disc;
      }
    }
  }

  p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .tools-list{
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
  }

  .tool-icon{
    height: rem(35);
    width: rem(35);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
