@import '/src/assets/styles/main.scss';
.footer{
    background-color: $main-black;
    color: $white;
    padding: rem(20) rem(15);
    text-align: center;
    line-height: rem(22);

    a{
        color: $white;
        text-decoration: none;
        font-weight: 400;

        &:hover{
            color: $primary-color;
        }
    }
}