@import './variables';

//  The typing effect
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
//  The typing cursor effect
@keyframes flicker{
    from, to{
        border-color: transparent;
    }
    50%{
        border-color: $primary-color;
    }
}

//  Show elements on scroll
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes hide{
    from{
        opacity: 1;
        scale: 100%;
    }
    to{
        opacity: 0;
        scale: 25%;
    }
}
