$font-weights: (
  100: 'thin',
  300: 'light',
  400: 'regular',
  500: 'medium',
  600: 'semibold',
  700: 'bold'
);

$fonts: (
  'roboto',
  'Poppins',
  'satisfy',
  'firaCode'
);

@mixin font-face($font-family) {
  @each $weight, $name in $font-weights {
    @font-face {
      font-family: $font-family;
      src: url('/src/assets/fonts/#{$font-family}-#{$name}.woff2') format('woff2'),
           url('/src/assets/fonts/#{$font-family}-#{$name}.woff') format('woff'),
           url('/src/assets/fonts/#{$font-family}-#{$name}.ttf') format('truetype');
      font-weight: $weight;
      font-style: normal;
    }
  }
}

@each $font-family in $fonts {
  @include font-face($font-family);
}
  