@import './custom'; 

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: rem(24);
}

img{
  width: 100%;
  height: auto;
}

strong{
  font-weight: 600;
}

.container{
  max-width: $size-large;
  margin: 0 auto;
  padding-left: rem(20);
  padding-right: rem(20);
}

section.home-section{
  &:nth-child(odd) {
    background-color: $main-gray;
  }
  &:nth-child(even) {
    background-color: $primary-color;
  }
}

.section__container{
  max-width: $size-large;
  margin: 0 auto;
  padding: rem(60) rem(20);
}
