
html {
    scroll-behavior: smooth;
}

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: 24px;
}

img{
  width: 100%;
  height: auto;
}

strong{
  font-weight: 600;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

section.home-section{
  &:nth-child(odd) {
    background-color: #E7E7E7;
  }
  &:nth-child(even) {
    background-color: #5dac6d;
  }
}

.section__container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}
