

$tools-images: (
  "HTML5": "assets/images/tools/html5.png",
  "Sass": "assets/images/tools/sass.png",
  "CSS3": "assets/images/tools/css3.png",
  "Bootstrap": "assets/images/tools/bootstrap.png",
  "Jquery": "assets/images/tools/jquery.png",
  "Git": "assets/images/tools/git.png",
  "Javascript ES6": "assets/images/tools/javascript.png",
  "Wordpress": "assets/images/tools/wordpress.png",
  "Figma": "assets/images/tools/figma.png",
  "Photoshop": "assets/images/tools/photoshop.png"
);

@mixin tool-image($tool-name) {
  $image-path: map-get($tools-images, $tool-name);
  @if $image-path {
    background-image: url(#{$image-path});
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  } @else {
    background-color: #ccc;
  }
}