// typography.scss
@use './fonts' as *;

/* Typography */
$default-fonts: Helvetica, Arial, sans-serif;
$primary-font: 'roboto', $default-fonts;
$secondary-font: 'satisfy', $default-fonts;
$code-font: 'firaCode', $default-fonts;
