// src/styles.scss
// Colores
$primary-color: #5DAC6D;
$main-gray: #E7E7E7;
$main-black: #333333;
$white: #ffffff;
// $secondary-color: #6c757d;
// $background-color: #f4f4f4;

// // Fuentes
// $font-stack: 'Helvetica Neue', Arial, sans-serif;
// $font-size-base: 16px;