
// Colores
$primary-color: #5dac6d; //#7C3AED
$main-gray: #E7E7E7;
$main-black: #111111;
$white: #ffffff;
$red: red;
$secondary-gray: #cccccc;

/* Media Queries */
$size-mobile: 576px;
$size-tablet: 768px;
$size-desktop: 992px;
$size-large: 1200px;