@import './reset';
@import './fonts';
@import './variables';
@import './typography';
@import './mixins';
@import './functions';

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

// section{
//   height: 500px;
// }