@import './reset';
@import './variables';
@import './typography';
@import './mixins';
@import './functions';
@import './animations';

html {
    scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: rem(24);
}

img{
  width: 100%;
  height: auto;
}

.container{
  max-width: rem(1200);
  margin: 0 auto;
  padding-left: rem(20);
  padding-right: rem(20);
}

.section__container{
  max-width: rem(1200);
  margin: 0 auto;
  padding: rem(60) rem(20);
}
