@import '@assets/styles/main';



.projects {

    &__link{
        color: $primary-color;
        font-weight: 400;
        
        &:hover{
            color: $main-black;
        }
    }

    &__no-projects-message {
        text-align: center;
        font-size: rem(16);
        color: $main-black;
        margin: rem(20) 0;
    }

    &__masonry-grid {
        display: flex;
        margin-left: rem(-15);
        width: auto;
        margin-bottom: rem(40);

        &-column {
            padding-left: rem(15);
            background-clip: padding-box;
        }
    }
}
